<div class="container mx-auto p-4 pt-24">
  <h1 class="text-3xl font-bold mb-4 text-center text-gray-800">POLITIQUE DE CONFIDENTIALITÉ</h1>
  <p class="text-center text-gray-600 mb-8">Mise à jour le 10 novembre 2025</p>

  <div class="text-gray-700 prose lg:prose-lg max-w-none">
    <h2 class="text-2xl font-bold mt-8 mb-4">Parties et Objet</h2>
    <p><strong>ASSURKIN</strong> (ci-après « ASSURKIN » ou le « Responsable du Traitement »)</p>
    <p>150 Chaussée de la Hulpe<br>1170 Bruxelles</p>
    <p><strong>Bce :</strong> BE1000.491.553</p>
    <p>Succursale de AGL CONNECT dont le siège est situé au 229 de la rue saint Honoré à 75001 Paris – France, Siret 919.360.313</p>
    <p><strong>Mail :</strong> <a [href]="'mailto:' + email">{{ email }}</a></p>
    <p><strong>Téléphone :</strong> +32(0)2.887.64.35</p>
    <p><strong>Autorité de contrôle :</strong> ORIAS & ACP</p>

    <p>ASSURKIN établit la présente Politique de confidentialité dont l’objet est d’informer en toute transparence les Utilisateurs du site internet hébergé à l’adresse suivante : <a href="https://www.assurkin.be" target="_blank">www.assurkin.be</a>, (ci-après le « Site »), de la manière dont les données personnelles sont récoltées et traitées par Assurkin.</p>
    <p>Le terme « Utilisateur » fait référence à tout utilisateur, soit toute personne physique ou morale, qui visite ou interagit d’une quelconque manière avec le Site.</p>

    <p>A ce titre, ASSURKIN détermine tous les moyens et finalités techniques, juridiques et organisationnelles du traitement des données personnelles des Utilisateurs. ASSURKIN s’engage à cet effet à prendre toutes les mesures nécessaires pour garantir un traitement des données personnelles conforme à la loi du 30 juillet 2018, relative à la protection des personnes physiques à l’égard des traitements des données à caractère personnel (ci-après, la Loi) et au Règlement européen du 26 avril 2016 relatif à la protection des données des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données (ci-après « le Règlement »).</p>

    <p>ASSURKIN est libre de choisir toute personne physique ou morale qui traite les données personnelles des utilisateurs à sa demande et pour son compte (ci-après le « Sous-traitant »). Le cas échéant, ASSURKIN s’engage à sélectionner un Sous-traitant offrant des garanties suffisantes quant aux mesures de sécurité techniques et organisationnelles du traitement des données personnelles, au regard de la Loi et du Règlement.</p>

    <h2 class="text-2xl font-bold mt-8 mb-4">Traitement des données personnelles</h2>

    <p>L’utilisation du Site par les Utilisateurs pourra entrainer la communication de données personnelles. Le traitement de ces données par ASSURKIN en sa qualité de Responsable du traitement, ou par les prestataires agissant au nom et pour le compte de ASSURKIN sera conforme à la Loi et au Règlement.</p>

    <p>Les données à caractère personnel seront traitées par ASSURKIN conformément aux finalités citées plus bas, via :</p>
    <ul class="list-disc ml-5 mb-4">
      <li>Une procédure automatisée</li>
      <li>Le formulaire d’inscription à la newsletter</li>
      <li>L’utilisation des cookies</li>
      <li>L’envoi d’enquête ou questionnaire</li>
      <li>Le partage de contenu gratuit</li>
    </ul>

    <h2 class="text-2xl font-bold mt-8 mb-4">Finalité du traitement des données personnelles</h2>

    <p>Conformément à l’article 13 du Règlement, les finalités du traitement des données personnelles sont communiquées à l’Utilisateur et sont les suivantes :</p>
    <ul class="list-disc ml-5 mb-4">
      <li>Assurer l’exécution des services proposés et convenus sur le Site ;</li>
      <li>Assurer le contrôle de l’exécution des services proposés</li>
      <li>Effectuer des activités de marketing et d’informations promotionnelles après consentement préalable de l’Utilisateur et jusqu’à révocation de ce consentement, par exemple l’envoi de promotion sur les produits et services du Responsable du Traitement ;</li>
      <li>Répondre aux questions de l’Utilisateur ;</li>
      <li>Réaliser des statistiques afin d’améliorer le site internet, les services proposés et l’organisation interne de fonctionnement ;</li>
      <li>Améliorer la qualité du Site et des produits et/ou services proposés par le Responsable du traitement ;</li>
      <li>Permettre une meilleure identification des centres d’intérêt de l’Utilisateur</li>
    </ul>
  </div>
</div>
 
