<!-- Hero Section -->
<div class="relative isolate bg-black px-6 pt-14 lg:px-8" id="hero">
  <div class="mx-auto max-w-7xl py-8 sm:py-12 lg:py-16">
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
      <!-- Colonne de gauche : Texte -->
      <div class="text-center lg:text-left">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Assurance Habitation</h1>
        <p class="mt-6 text-lg leading-8 text-gray-300">Avoir une assurance habitation est essentiel pour protéger votre logement et vos biens contre les risques imprévus tels que incendie, vol ou dégâts des eaux. Elle offre une sécurité financière en couvrant les réparations ou le remplacement des biens endommagés. En cas de responsabilité civile, elle protège également contre les dommages causés involontairement à des tiers. Ainsi, une assurance habitation vous apporte tranquillité d’esprit et sérénité au quotidien.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
          <button (click)="scrollToSection('content')" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Souscrire</button>          <a routerLink="/contact" class="text-sm font-semibold leading-6 text-white">Contact <span aria-hidden="true">→</span></a>
        </div>
      </div>
      <!-- Colonne de droite : Image -->
      <div class="flex justify-center lg:justify-end">
        <img src="https://fqopliwvpuiprdegxytz.supabase.co/storage/v1/object/sign/img_website/ahabitation.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV81MmJmNDFiNC0yNGQ0LTQ3ZTktYmEzNi04YWZmY2NjMzEzNzIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWdfd2Vic2l0ZS9haGFiaXRhdGlvbi53ZWJwIiwiaWF0IjoxNzYzMDI1NjMxLCJleHAiOjIwNzgzODU2MzF9.XXro16g7nOi_EJfF2jVBFAaRCfCcf0xoHrcUfIUUo70" alt="Assurance" class="w-full max-w-xs rounded-xl shadow-xl ring-1 ring-gray-400/10 lg:max-w-md">
      </div>
    </div>
  </div>
</div>

<!-- Contenu de la page -->
<div id="content" class="container mx-auto p-4 py-16 sm:py-24">
  <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-12">
    <!-- Colonne de gauche pour le texte -->
    <div class="text-gray-700 prose lg:prose-lg max-w-none prose-h2:mb-4 prose-p:mt-4 prose-ul:mt-4">
      <h2 class="text-2xl font-bold">L’assurance habitation est-elle vraiment indispensable ?</h2>
      <p>Assurkin vous propose une assurance habitation qui vous offre une protection complète contre les dommages causés à votre habitation et à vos biens, ainsi que votre responsabilité civile envers autrui.</p>
      <p>Si vous êtes propriétaire, il est crucial de protéger votre habitation et vos biens mobiliers contre divers risques tels que l'incendie, l'inondation, les catastrophes naturelles, etc. Si vous êtes locataire, l'assurance habitation couvre votre responsabilité en cas de dommages causés au logement que vous occupez.</p>
      <p>Dans certains cas, vous pourriez être contraint de souscrire une assurance incendie, qui constitue la base de toute assurance habitation. En tant que propriétaire, votre banque pourrait l'exiger dans le cadre de l'obtention d'un prêt. Si vous êtes locataire, l'assurance habitation peut être une clause incluse dans votre contrat de location. Assurkin vous accompagne pour choisir la meilleure protection adaptée à vos besoins et à votre situation.</p>

      <h2 class="text-2xl font-bold mt-8">Que couvre l’assurance habitation ?</h2>
      <p>L'assurance habitation, souvent multirisques, détaille les garanties incluses comme la couverture incendie, les dégâts des eaux et d'autres risques comme les dommages météorologiques, les cambriolages ou les bris de vitrage. Des mesures de protection sont nécessaires pour bénéficier de l'assurance. En plus des couvertures obligatoires, des options facultatives comme la couverture vol et vandalisme sont proposées, avec des services supplémentaires comme l'assistance d'urgence. Diverses ouvertures en option sont disponibles telles que la couverture pour une activité professionnelle à domicile ou pour une piscine.</p>

      <h2 class="text-2xl font-bold mt-8">Comment être certain d’obtenir le meilleur prix ?</h2>
      <p>Pour comparer les assurances habitation, Internet est le moyen le plus simple et rapide. Cependant, il est crucial de comparer des offres similaires en termes de garanties et de services, en plus des prix. Il est donc essentiel de vérifier minutieusement les risques couverts par chaque police d'assurance proposée. Étant donné la complexité de cette tâche, nous recommandons vivement de consulter nos courtiers avant de prendre une décision !</p>
      <p>Le coût d'une assurance habitation dépend de plusieurs critères, notamment le type de matériaux utilisés, le risque de cambriolage lié à l'emplacement de la résidence, les options de couverture choisies, la valeur estimée de la propriété et le montant de la franchise.</p>

      <h2 class="text-2xl font-bold mt-8">Quels changements doit-on signaler à son assureur ?</h2>
      <p>Il est crucial de déclarer tout changement à votre assureur, même si cela peut entraîner une augmentation de la prime. Ne pas le faire expose à un risque de sous-indemnisation ou même de refus d'indemnisation si le bien assuré n'est plus conforme.</p>
      <p>L'assureur évalue le montant de la prime en tenant compte des caractéristiques de votre bien. Tout ajout tel qu'une pièce supplémentaire, un étage, une piscine ou un spa doit être signalé. À noter qu'installer un système d'alarme peut entraîner une réduction de la prime.</p>
      <p>De plus, si vous exercez des activités professionnelles à domicile ou stockez du matériel professionnel, la couverture peut être limitée. Il est donc recommandé d'en discuter avec votre courtier. Enfin, souscrire une assurance responsabilité civile est essentiel, notamment si vous recevez des clients à domicile.</p>

      <h2 class="text-2xl font-bold mt-8">Les objets de valeur sont-ils couverts ?</h2>
      <p>Les bijoux comme les objets d’art et autres objets de valeur peuvent être couverts. Mais pas toujours. Dans ce cas, l’assureur peut soit appliquer une surprime, soit proposer une assurance spécifique.</p>
    </div>

    <!-- Colonne de droite pour le formulaire -->
    <form id="form" [formGroup]="habitationForm" (ngSubmit)="onSubmit()" class="space-y-12 bg-white p-8 rounded-lg shadow-md mt-8 lg:mt-0">

    <!-- Message de statut de soumission -->
    <div *ngIf="submissionStatus" class="p-4 mb-4 text-sm rounded-lg"
         [ngClass]="{'bg-green-100 text-green-800': submissionStatus.success, 'bg-red-100 text-red-800': !submissionStatus.success}"
         role="alert">
      {{ submissionStatus.message }}
    </div>

    <!-- Section Preneur d'Assurance -->
    <fieldset class="border-t pt-6" formGroupName="preneurAssurance">
      <legend class="text-xl font-semibold px-2 text-gray-700 mb-4">1. Informations sur le preneur</legend>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label for="preneur-genre" class="block text-sm font-medium text-gray-700">Genre</label>
          <select id="preneur-genre" formControlName="genre" required class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm">
            <option>Madame</option>
            <option>Monsieur</option>
            <option>Autre</option>
          </select>
        </div>
        <div>
          <label for="preneur-nom" class="block text-sm font-medium text-gray-700">Nom</label>
          <input type="text" id="preneur-nom" formControlName="lastName" required class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('preneurAssurance.lastName')?.invalid && habitationForm.get('preneurAssurance.lastName')?.touched}">
        </div>
        <div>
          <label for="preneur-prenom" class="block text-sm font-medium text-gray-700">Prénom</label>
          <input type="text" id="preneur-prenom" formControlName="firstName" required class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('preneurAssurance.firstName')?.invalid && habitationForm.get('preneurAssurance.firstName')?.touched}">
        </div>
        <div>
          <label for="preneur-dob" class="block text-sm font-medium text-gray-700">Date de naissance</label>
          <input type="date" id="preneur-dob" formControlName="date_naissance" required class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('preneurAssurance.date_naissance')?.invalid && habitationForm.get('preneurAssurance.date_naissance')?.touched}">
        </div>
        <div>
          <label for="preneur-tel" class="block text-sm font-medium text-gray-700">Numéro de téléphone</label>
          <input type="tel" id="preneur-tel" formControlName="phone" required appPhoneFormat placeholder="+32 4XX XX XX XX" maxlength="18" class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('preneurAssurance.phone')?.invalid && habitationForm.get('preneurAssurance.phone')?.touched}">
        </div>
        <div>
          <label for="preneur-email" class="block text-sm font-medium text-gray-700">Email</label>
          <input type="email" id="preneur-email" formControlName="email" required class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('preneurAssurance.email')?.invalid && habitationForm.get('preneurAssurance.email')?.touched}">
          <div *ngIf="emailExists && habitationForm.get('preneurAssurance.email')?.touched" class="text-green-800 bg-green-100 p-2 rounded-md text-sm mt-2">
            Bonne nouvelle ! Cet email est déjà connu chez nous.
            <a routerLink="/login" class="font-bold underline hover:text-green-700">Connectez-vous</a> pour accélérer votre demande.
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Section Bâtiment -->
    <fieldset class="border-t pt-6" formGroupName="batiment">
      <legend class="text-xl font-semibold px-2 text-gray-700 mb-4">2. Bâtiment à assurer</legend>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="md:col-span-2">
          <label for="adresse" class="block text-sm font-medium text-gray-700">Rue et numéro</label>
          <input type="text" id="adresse" formControlName="adresse" required class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('batiment.adresse')?.invalid && habitationForm.get('batiment.adresse')?.touched}">
        </div>
        <div>
          <div class="relative">
            <label for="code-postal" class="block text-sm font-medium text-gray-700">Code Postal</label>
            <input type="text" id="code-postal" formControlName="codePostal" required autocomplete="off" class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('batiment.codePostal')?.invalid && habitationForm.get('batiment.codePostal')?.touched}">
            <div *ngIf="isLoading" class="absolute inset-y-0 right-0 flex items-center pr-3 top-6">
              <svg class="animate-spin h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            </div>
            <ul *ngIf="filteredPostalCodes.length > 0" class="absolute z-10 w-full bg-white border border-gray-300 rounded-md mt-1 max-h-40 overflow-y-auto">
              <li *ngFor="let pc of filteredPostalCodes" (click)="selectPostalCode(pc)" class="px-3 py-2 cursor-pointer hover:bg-gray-100">
                {{ pc.postalCode }} - {{ pc.city }}
              </li>
            </ul>
          </div>
        </div>
        <div>
          <label for="ville" class="block text-sm font-medium text-gray-700">Ville</label>
          <select id="ville" formControlName="ville" required [disabled]="cities.length === 0" class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm disabled:bg-gray-100">
            <option *ngIf="cities.length === 0" value="">Sélectionner une ville</option>
            <option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </option>
          </select>
        </div>
        <div>
          <label for="type-maison" class="block text-sm font-medium text-gray-700">Type de maison</label>
          <select id="type-maison" formControlName="typeMaison" required class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm">
            <option>Maison 2 façades</option>
            <option>Maison 3 façades</option>
            <option>Maison 4 façades (villa)</option>
            <option>Appartement</option>
            <option>Studio</option>
            <option>Autre</option>
          </select>
        </div>
      </div>
    </fieldset>

    <!-- Section Évaluation -->
    <fieldset class="border-t pt-6" formGroupName="evaluation">
      <legend class="text-xl font-semibold px-2 text-gray-700 mb-4">3. Évaluation des biens</legend>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div>
          <label for="superficie" class="block text-sm font-medium text-gray-700">Superficie (m²)</label>
          <input type="number" id="superficie" formControlName="superficie" required class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('evaluation.superficie')?.invalid && habitationForm.get('evaluation.superficie')?.touched}">
        </div>
        <div>
          <label for="nombre-pieces" class="block text-sm font-medium text-gray-700">Nombre de pièces</label>
          <input type="number" id="nombre-pieces" formControlName="nombrePieces" required placeholder="Salon + Cuisine = 1 pièce" class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('evaluation.nombrePieces')?.invalid && habitationForm.get('evaluation.nombrePieces')?.touched}">
          <div *ngIf="habitationForm.get('evaluation.nombrePieces')?.invalid && (habitationForm.get('evaluation.nombrePieces')?.touched || habitationForm.get('evaluation.nombrePieces')?.dirty)" class="text-red-600 text-sm mt-1">
            <div *ngIf="habitationForm.get('evaluation.nombrePieces')?.hasError('min')">
              Le nombre de pièces doit être d'au moins 3.
            </div>
          </div>
        </div>
        <div>
          <label for="loyer" class="block text-sm font-medium text-gray-700">Loyer mensuel (charges comprises)</label>
          <input type="number" id="loyer" formControlName="loyer" placeholder="€" class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm">
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
        <div>
          <label class="text-base font-medium text-gray-900">Valeur du bâtiment</label>
          <fieldset class="mt-2">
            <div class="space-y-2">
              <div>
                <div class="flex items-center">
                  <input id="valeur-bat-expertise" formControlName="valeurBatiment" value="expertise" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  <label for="valeur-bat-expertise" class="ml-3 block text-sm font-medium text-gray-700">Valeur du bâtiment selon expertise</label>
                </div>
                <!-- Champs conditionnels pour l'expertise -->
                <div *ngIf="habitationForm.get('evaluation.valeurBatiment')?.value === 'expertise'" class="mt-4 ml-7 space-y-4">
                  <div>
                    <label for="valeur-expertise" class="block text-sm font-medium text-gray-700">Valeur de l'expertise (€)</label>
                    <input type="number" id="valeur-expertise" formControlName="valeurExpertise" placeholder="Ex: 250000" class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('evaluation.valeurExpertise')?.invalid && habitationForm.get('evaluation.valeurExpertise')?.touched}">
                  </div>
                  <div>
                    <label for="date-expertise" class="block text-sm font-medium text-gray-700">Mois et année de l'expertise</label>
                    <input type="month" id="date-expertise" formControlName="dateExpertise" class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('evaluation.dateExpertise')?.invalid && habitationForm.get('evaluation.dateExpertise')?.touched}">
                  </div>
                </div>
              </div>
              <div>
                <div class="flex items-center">
                  <input id="valeur-bat-libre" formControlName="valeurBatiment" value="libre" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  <label for="valeur-bat-libre" class="ml-3 block text-sm font-medium text-gray-700">Valeur du bâtiment librement exprimée</label>
                </div>
                <div *ngIf="habitationForm.get('evaluation.valeurBatiment')?.value === 'libre'" class="mt-4 ml-7">
                  <input type="number" id="valeur-libre" formControlName="valeurLibre" placeholder="Montant en €" class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm" [ngClass]="{'ring-red-500': habitationForm.get('evaluation.valeurLibre')?.invalid && habitationForm.get('evaluation.valeurLibre')?.touched}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div>
          <label class="text-base font-medium text-gray-900">Valeur du contenu</label>
          <fieldset class="mt-2">
            <div class="space-y-2">
              <div class="flex items-center">
                <input id="valeur-cont-courtier" formControlName="valeurContenu" value="courtier" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="valeur-cont-courtier" class="ml-3 block text-sm font-medium text-gray-700">Déterminée par le courtier (basé sur le bâtiment)</label>
              </div>
              <div class="flex items-center">
                <input id="valeur-cont-prospect" formControlName="valeurContenu" value="prospect" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="valeur-cont-prospect" class="ml-3 block text-sm font-medium text-gray-700">Déterminée par vous-même</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </fieldset>

    <!-- Section Garanties -->
    <fieldset class="border-t pt-6" formGroupName="garantiesHabitation">
      <legend class="text-xl font-semibold px-2 text-gray-700 mb-4">4. Garanties souhaitées</legend>
      <div class="space-y-4">
        <p class="text-sm text-gray-600">La garantie de base (RC Bâtiment) est toujours incluse.</p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <div class="flex items-start"><div class="flex h-5 items-center"><input id="garantie-contenu" formControlName="contenu" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"></div><div class="ml-3 text-sm"><label for="garantie-contenu" class="font-medium text-gray-700">Contenu</label></div></div>
            <div class="flex items-start"><div class="flex h-5 items-center"><input id="garantie-vol" formControlName="vol" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"></div><div class="ml-3 text-sm"><label for="garantie-vol" class="font-medium text-gray-700">Vol</label></div></div>
            <div class="flex items-start"><div class="flex h-5 items-center"><input id="garantie-pertes" formControlName="pertesIndirectes" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"></div><div class="ml-3 text-sm"><label for="garantie-pertes" class="font-medium text-gray-700">Pertes indirectes</label></div></div>
            <div class="flex items-start"><div class="flex h-5 items-center"><input id="garantie-pj" formControlName="protectionJuridique" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"></div><div class="ml-3 text-sm"><label for="garantie-pj" class="font-medium text-gray-700">Protection Juridique</label></div></div>
            <div class="flex items-start"><div class="flex h-5 items-center"><input id="garantie-assistance" formControlName="assistance" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"></div><div class="ml-3 text-sm"><label for="garantie-assistance" class="font-medium text-gray-700">Assistance</label></div></div>
        </div>
      </div>
    </fieldset>

    <div class="pt-4 border-t">
      <label for="date-effet" class="block text-sm font-medium text-gray-700">Date d'effet souhaitée</label>
      <input type="date" id="date-effet" formControlName="dateEffet" [min]="minDate" required class="mt-1 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 px-3 ring-1 ring-slate-200 shadow-sm">
    </div>

    <!-- Bouton de soumission -->
    <div class="pt-6">
      <!-- Message de statut de soumission (en bas) -->
      <div *ngIf="submissionStatus" class="p-4 mb-4 text-sm rounded-lg"
           [ngClass]="{'bg-green-100 text-green-800': submissionStatus.success, 'bg-red-100 text-red-800': !submissionStatus.success}"
           role="alert">
        {{ submissionStatus.message }}
      </div>
      <div class="flex justify-end">
        <button type="submit" [disabled]="habitationForm.invalid" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:bg-gray-400 disabled:cursor-not-allowed">
        Recevoir mon offre
        </button>
      </div>
    </div>
    </form>

  </div>
</div>
